#map {
  height: 70vh;
  width: 100%;
  margin-top: 2vh;
}

.marker {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.last-marker {
  background-image: url('/marker_icon.png');
  background-size: cover;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
}

.previous-marker {
  background-color: red;
  width: 12.5px;
  height: 12.5px;
  border-radius: 100%;
}

.off-marker {
  background-color: rgb(128, 128, 128);
  width: 12.5px;
  height: 12.5px;
  border-radius: 100%;
}

.on-marker {
  background-color: rgb(0, 128, 0);
  width: 12.5px;
  height: 12.5px;
  border-radius: 100%;
}

.pause-marker {
  background-color: rgb(255, 217, 0);
  width: 12.5px;
  height: 12.5px;
  border-radius: 100%;
}

/* .mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
} */
