.last-marker {
  background-image: url('/marker_icon.png');
  background-size: cover;
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
}

.previous-marker {
  background-color: red;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

/* .mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: black;
} */
