.addTrackerButton {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  width: 15vw;
  padding: 1vh 1vw;
  margin: 2vh 1vw;
  background-color: #1695b5;
  color: white;
}

.componentContainer,
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputGroup {
  font-family: 'Segoe UI', sans-serif;
  /* margin: 0% 3%; */
  /* min-width: 25vw; */
  position: relative;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 2px solid rgb(200, 200, 200);
  background-color: transparent;
  border-radius: 20px;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
  border-color: rgb(226, 211, 138);
}

.displayRow {
  display: flex;
  align-items: center;
}

.inputGroupLeft {
  width: 30vw;
}

.inputGroupRight {
  width: 15vw;
}

.inputGroupLarge {
  width: 45vw;
}

.closeAddTrackerModal {
  position: absolute;
  height: 2vw;
  top: 0;
  right: 0;
  margin-right: 3vw;
  cursor: pointer;
}

/* TRACKER ITEM FORM */

.input-style {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #555;
  outline: none;
  margin: 0.5vw;
}

.input-style:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.displayColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
